<div id="advanced-subscription-block-wrapper">

</div>
<script>
var theme_block_supported = '{{ app.metafields.theme_support.support_theme_block }}';

console.log('theme_block_supported', theme_block_supported);
</script>
{% schema %}
  {
    "name": "Phoenix Subscription",
    "templates": ["product"],
    "target": "section"
  }
{% endschema %}